@font-face {
    font-family: 'Stag Sans normal' ;
    src: local('Stag Sans');
    src: url('./assets/fonts/Stag-Sans-Medium-Web.ttf') format('ttf');
}

@font-face {
    font-family: 'Stag Sans italic' ;
    src: local('Stag Sans');
    src: url('./assets/fonts/StagSans-MediumItalic.ttf') format('ttf');
}
* {
    font-family: 'Stag Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

code {
    font-family: 'Stag Sans Medium Web', sans-serif;
}
